html, body {
  font-family: "Roboto Mono", serif;
  color: black;
}

* {
  font-family: "Roboto Mono", serif;
}

#runBtn {
  background-image: linear-gradient(to bottom, #ea515e, #7d11d1);
  color: white;
  border: 2px;
  margin-bottom: 3px;
  display: inline-block;
  border-radius: 5px;
  padding: 15px 20px;
  float: right;
  margin-right: 10px;
}

#demoSelector {
  background-image: linear-gradient(to bottom, #ea515e, #7d11d1);
  background-color: #7d11d1;
  color: white;
  border: 2px;
  margin-bottom: 3px;
  display: inline-block;
  border-radius: 5px;
  padding: 15px 20px;
  margin-left: 10px;
}

#editor {
  width: 65%;
  height: calc(100% - 65px);
  left: 0;
  position: fixed;
  border-right: 2px solid grey;
  border-top: 2px solid grey;
}

@media only screen and (max-width: 768px) {

  #editor {
    width: 100% !important;
    height: 70% !important;
    position: relative !important;
  }

  #output {
    width: 100% !important;
    height: 29% !important;
    position: relative !important;
  }

  #runBtn {
    width: 100px;
    font-size: 11px;
  }

  #demoSelector {
    width: 108px;
    font-size: 11px;
  }
}

#output {
  width: calc(35% - 4px);
  height: calc(100% - 65px);
  right: 0;
  position: fixed;
  border-right: 2px solid grey;
  border-top: 2px solid grey;
  overflow-y: scroll;
}

.output {
  margin: 1px 10px;
  padding-top: 0;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
}

#container {
  height: auto;
  width: 100%;
  font-size: 0;
  margin-bottom: 7px;
  margin-top: 7px;
}

#left,
#middle,
#right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  font-size: 12px;
}

#left {
  width: 25%;
}

#middle {
  width: 50%;
  text-align: center;
  display: inline-block;
}

#right {
  width: 25%;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 55%
}
